@model Product

<div class="col-sm-12 col-md-4 my-2 cart">
    <div class="card mx-3">
        <img src="@Model?.ImageUrl" class="card-img-top" alt="Technology">
        <div class="card-body ">
            <h5 class="card-title">@Model?.ProductName</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <div class="btn btn-group">
                <a class="btn btn-primary productButtun" asp-action="Get" asp-route-id="@Model?.ProductId"><i
                        class="fa-solid fa-arrow-right"></i> Details</a>
                <form id="@Model.ProductId" asp-page="/card" method="post">
                    <input type="hidden" asp-for="ProductId" />
                    <input type="hidden" name="returnUrl" value="/Produc/Get/@Model.ProductId" />
                    <button type="submit" class="btn btn-outline-primary productButtun">
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
