@model Product

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h6 class="display-6">@Model.ProductName</h6>
            <img class="img-fluid shadow rounded-3" src="@Model?.ImageUrl" alt="@Model?.ProductName"
                style="width: 500px; height: 400px; margin: 20px auto;">
            <p class="lead" style="color: red;">@Model?.Price.ToString("c")</p>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="btn-group">
        <a class="btn btn-primary get-home" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i>
            Home</a>
        <form id="@Model?.ProductId" asp-page="/card" method="post">
            <input type="hidden" asp-for="ProductId">
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()">
            <button type="submit" class="btn btn-outline-primary get-home"><i class="fa fa-cart-plus"></i> Add</button>
        </form>
        <a class="btn btn-outline-primary get-home" asp-controller="Product" asp-action="Index"><i class="fa-solid fa-list"></i>
            Products</a>
    </div>
</div>