@model /* IQueryable<Product> */ ProductListViewModel

<div class="row" style="margin:auto">
    <div class="col-md-3" style="padding: 0;">
        @await Component.InvokeAsync("CategoriesMenu")
        <div style="margin-left:30px; padding-top: 5px;">
            @await Component.InvokeAsync("ProductFilterMenu")
            <div products="" number="3" style="position: absolute; left: 100px; top: 550px;"></div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row my-3">
            @foreach (Product prd in Model.Products)
            {
                <partial name="_ProductCard" model="@prd" />
            }
        </div>
        <div>
            <div class="btn-group" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
                page-class-selected="btn-primary" page-model="@Model.Pagination" page-action="Index" style="padding:5px"></div>
        </div>
    </div>
</div>
