@model IQueryable<Product>

<div class="row" style="margin:auto">
    <div class="col-md-3" style="padding: 0;">
         @await Component.InvokeAsync("CategoriesMenu") 
         <div style="margin-left:30px; padding-top: 5px;">
         @await Component.InvokeAsync("ProductFilterMenu") 
         </div>
    </div>
    <div class="col-md-9" >
        <div class="row my-3">
            @foreach (Product prd in Model)
            {
                <partial name="_ProductCard" model="@prd" />
            }
        </div>

    </div>
</div>

@section Footer {
    <div>
        Only for Index footer
    </div>
}
