@page "/getintouch"

@{
    Layout="_LayoutContact";
}

<div class="text-center ">
    <div class="row">
        <div class="left-side col-md-6" style="margin: 20px 20px auto -50px;">
            <div class="display-6">Contact</div>
            <div class="lead">
                <i class="fa fa-phone text-primary"></i>
                <p>
                    ALO 128 BTK Akademi Bilgi ve Destek Hattı
                </p>
                <div class="display-6">Address</div>
                <i class="fa-solid fa-address-book text-primary"></i>
                <p>
                    destek@btkakademi.gov.tr
                </p>
                <div class="display-6">E-mail</div>
                <i class="fa-solid fa-envelope text-primary"></i>
                <p>
                    Bilgi Teknolojileri ve İletişim Kurumu Eskişehir Yolu 10.Km
                    No: 276 Posta Kodu: 06530 Çankaya/Ankara
                </p>
            </div>
        </div>
        <div class="right-side col-md-6" style="margin: 20px -20px; auto 20px">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6121.026854043178!2d32.751985!3d39.907525!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d1cf828cb6c5c7%3A0x983f31be2f30bfc6!2sSinoma%20Overseas!5e0!3m2!1str!2sus!4v1723538462910!5m2!1str!2sus"
                width="550" height="400" style="border:5;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
</div>
