h1 {
  color: darkorange;
  background-color: black;
  width: fit-content;
  margin: 20px auto;
}

#home,#products{
  color:darkorange
}

.menu{
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.index {
  margin: 20px auto;
}

.items{
  margin: 10px 0 auto 5px;
  
}/*
.btn{
  background-color: black;
  color:darkorange;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}*/

.btn-group {
  padding: 10px;
  margin-left: -50px;
}

.get {
  margin-top: 10px;
  margin-left: -50px;
}

.get-home{
  margin-right: 10px;
}