@model IEnumerable<Category>


<div class="my-3">
    <ul class="list group" style="margin-top: 30px; margin-right: 20px;">
        @foreach (var cat in Model)
        {
            <li class="list-group-item border border-dark text-center">
                <a asp-action="Index" asp-route-categoryId="@cat.CategoryId">@cat.CategoryName</a>
            </li>
        }
    </ul>
</div>
